/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;
}
a {
    text-decoration: none;
    color: var(--font-1-clr);
}

svg {
    fill: white;
}

:root {
    --bg-clr: black;
    --bg-clr2: white;
    --bg-clr3: lightgrey;

    --border-clr: grey;
    --font-1-clr: red;
    --font-2-clr: black;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;

}
/* Sidebar */
.main-logo {
    padding: 12px;
    font-size: 22px;
    margin-right: 22px;
    color: white;
}


.sidebar {
    background-color: var(--bg-clr);
}

.db-sidebar {
    font-size: 12px;
    font-weight: 600;

    margin-top: 12px;
    margin-left: 6px;
    padding: 14px;

    display: grid;
    grid-template-columns: 20px 50px;
    gap: 12px;
}

.main-content {
    width: 100vw;
}


/* Header */
.header {
    /* margin: 12px 24px; */
    background-color: var(--bg-clr2);
    padding: 12px 24px;
    margin-bottom: 3px;
    height: auto;

}

.search-bar {
    border-radius: 16px;
    border: 1px solid var(--bg-clr3);
    padding-left: 12px;
    height: 18px;
    background-color: var(--bg-clr3);
}

.user-pfp {
    border-radius: 180px;
}

.user-pfp.row1 {
    height: 24px;
}

.user-pfp.row2 {
    height: 36px;
}

.icon-secondary-clr {
    fill: black;
    height: 24px;
}

.header-grp1 {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;

    font-weight: 800;
}

.search-section {
    align-items: center;
    display: grid;
    grid-template-columns: 35px auto;
}

.user-section {
    align-items: center;
    justify-content: flex-end;
 
    display: grid;
    grid-template-columns: 50px 50px auto;
}


.header-grp2 {
    height: auto;

    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

.left {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
}

.right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px;
    justify-content: flex-end;
}

.greet-user .user-name {
    font-weight: bold;
}

.buttons button{
    background-color: var(--bg-clr);
    color: var(--font-1-clr);
    
    width: 90px;
    height: 30px;
    border-radius: 22px;
    border: none;
}

/* Grid layout section*/
.content-header {
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.contents {
    background-color: var(--bg-clr3);
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;

    padding: 16px;
}

.projects {
    grid-area: 1 / 1 / 3 / 1;
}

.project-contents {
    /* margin: 16px; */
    margin-right: 16px;

    display: grid;
    grid-template: auto auto auto / auto auto ;
    gap: 16px;
}

/* Project card template */

.project-card {
    background-color: var(--bg-clr2);
    border-radius: 6px;
    padding: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 6px;
}



.project-name {
    font-size: 16px;
}

.project-desc {
    font-size: 12px;
}


.project-icons {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;
    gap: 12px;
    margin: 3px;
}
.project-icons svg {
    fill: black;
    height: 20px;
}

/* Announcements section */
.announce-header {
    font-size: 12px;
}
.announce-desc {
    font-size: 10px;
}
.announcement-contents {
    padding: 16px;
    padding-top: px;
}

.ann-details {
    margin: 6px 0px;
}



