/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvetica, monospace, system-ui;
}

:root {

}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.db-sidebar {
    /* border: 1px solid rebeccapurple; */

    display: grid;
    margin-top: 32px;
    gap: 8px;
}